.cart_item {
    margin-top: 2rem;
     margin-left: auto;
     margin-right: auto;
     padding: 2rem;
     width: 24rem;

     box-shadow: 0 0 0.2rem 0.1rem rgba(76, 65, 65, 0.4);
     .cart_img {
         height: 20rem;
         width: 20rem;
         background-position: center;
         background-size: cover;
     }

     .cart_text {
         margin-top: 0.8rem;
         .ten_san_pham {
             color: black;
             font-size: 1.6rem;
             transition: color 0.4s;
              &:hover {
                 text-decoration: underline;
                 color: var(--pink);
             }
         }
     }
 }